<form [formGroup]="biologyForm">
      <div style="display: inline;">
        <label for="id">ID:</label>
        <input id="id" type="number" formControlName="id" readonly>

        <label for="date">Date:</label>
        <input id="date" type="date" formControlName="date">

        <label for="type">Type:</label>
        <select id="type" formControlName="type">
          <option *ngFor="let type of biologyTypes" [ngValue]="type.id">{{ type.name }}</option>
        </select>

        <label for="value">Value:</label>
        <input id="value" type="number" formControlName="value">

        <label for="interpretation">Interpretation:</label>
        <select id="interpretation" formControlName="interpretation">
          <option *ngFor="let interpretation of biologyInterpretations" [ngValue]="interpretation.id">{{ interpretation.name }}</option>
        </select>

        <label for="comment">Comment:</label>
        <input id="comment" type="text" formControlName="comment">
      </div>
    </form>