<div class="analysis-form">
  <form [formGroup]="bloodGroupForm">
    <div class="analysis-form-fields">
      
      <div class="analysis-form-field">
        <label for="date">Date:</label>
        <input id="date" type="date" formControlName="date">
      </div>

      <div class="analysis-form-field">
        <label for="type">Type:</label>
        <select id="type" formControlName="type">
          <option *ngFor="let type of bloodTypes" [ngValue]="type">{{ type.name }}</option>
        </select>
      </div>

      <div class="analysis-form-field analysis-form-comment">
        <label for="comment">Comment:</label>
        <input id="comment" type="text" formControlName="comment">
      </div>

    </div>
  </form>
</div>