<form [formGroup]="serologyForm">
      <div style="display: inline;">
        <label for="id">ID:</label>
        <input id="id" type="number" formControlName="id" readonly>

        <label for="date">Date:</label>
        <input id="date" type="date" formControlName="date">

        <label for="type">Type:</label>
        <select id="type" formControlName="type">
          <option *ngFor="let type of serologyTypes" [ngValue]="type">{{ type.name }}</option>
        </select>

        <label for="interpretation">Interpretation:</label>
        <select id="interpretation" formControlName="interpretation">
          <option *ngFor="let interpretation of serologyInterpretations" [ngValue]="interpretation">{{ interpretation.name }}</option>
        </select>

        <label for="conclusion">Conclusion:</label>
        <input id="conclusion" type="text" formControlName="conclusion">
      </div>
    </form>